@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1A221A;
    --bg-acc: #404540;
    --bg-alt: #2a3228;
    --bg-alt-acc: #141814;
    --fg: #d5e0d5;
    --shadow: rgba(255, 255, 255, 0.2);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #e0eAd5;
    --bg-acc: #b0c5a8;
    --bg-alt: #c8d4c0;
    --bg-alt-acc: #f2f7ec;
    --fg: #14180A;
    --shadow: rgba(0, 0, 0, 0.2);
  }
}

html {
  background-color: var(--bg);
  color: var(--fg);
  line-height: 1.5em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

nav {
  flex: 0;
  background-color: var(--bg-acc);
  padding: 0;
  margin: 0;
}

nav a {
  display: inline-block;
  text-decoration: none !important;
  font-weight: bold;
  font-size: large;
  padding: 0.5em 0.75em;
}

nav a:hover, nav a:active {
  background-color: var(--bg);
}

header {
  flex: 0;
  background-color: var(--bg-alt);
  padding: 0;
  margin: 0;
}

header h1 {
  font-size: x-large;
  margin: 0;
  padding: 0.5em;
}

main {
  flex: 1;
  padding: 0.5em 0.75em;
}

h2 {
  font-size: large;
}

code {
  font-family: Menlo, Courier, monospace;
  font-size: medium;
  background-color: var(--bg-alt);
  border-radius: 3px;
  padding: 0.1em 0.3em;
}

pre {
  font-family: Menlo, Courier, monospace;
  background-color: var(--bg-alt-acc);
  padding: 0.75em;
}

pre code {
  background-color: transparent;
  padding: 0;
}

form, figure {
  background-color: var(--bg-acc);
  padding: 0.75em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  margin: 0;
}

figure {
  justify-content: space-around;
  align-items: center;
}

figcaption {
  flex: 0;
}

svg rect, svg circle {
  stroke: var(--fg);
  stroke-width: 2;
  fill: var(--bg);
}

svg text {
  fill: var(--fg);
}

svg path {
  stroke: var(--fg);
  stroke-width: 2;
}

svg marker path {
  fill: var(--fg);
}

form > .mods {
  flex: 1;
}

form > .interpret {
  flex: 0;
}

pre {
  font-size: larger;
}

pre, textarea {
  line-height: 1.4em;
}

p {
  margin: .5em 0;
}

a:link, a:hover, a:active, a:visited {
  color: inherit;
}

.split {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100%;
}

body.split > .left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.split .left, .split .right {
  flex: 1;
}

.split .left {
  padding-right: .75em;
}

body.split > .left, body.split > .right {
  flex: 1;
  padding: 0;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}

body.split > .left main {
  overflow-y: auto;
}

.links {
  margin-top: -.25em;
  margin-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  list-style-type: none;
}

.links li {
  display: inline-block;
  padding: 0;
  margin-right: .2em;
}

.links a {
  display: inline-block;
  font-size: smaller;
  padding: 0 .3em;
  margin: 0;
  text-decoration: none !important;
  border-radius: .2em;
}

.links a:hover, .links a:active {
  background-color: var(--bg-alt-acc);
}

.links > li.current > a {
  background-color: var(--bg-acc) !important;
}

.links li + li::before {
  content: "•";
  padding-right: .2em;
  font-size: smaller;
}

.mods > legend {
  display: inline-block;
}

fieldset {
  border: 0;
}

.mods {
  padding: 0;
  margin: 0 0 0.5em 0;
}

textarea {
  font-family: Menlo, Courier, monospace;
  box-sizing: border-box;
  font-size: medium;
  background-color: var(--bg-alt-acc);
  color: var(--fg);
  border: none;
  outline: none;
  resize: none;
}

.mods textarea {
  display: none;
  width: 100%;
  height: 100%;
}

.mods > input[type="radio"], #popup-shown, #popup-content > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.mods > label, #popup-content > label {
  display: inline-block;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin: 0;
  background-color: var(--bg-alt);
  cursor: pointer;
}

.mods > input:checked + label,
#popup-content > input:checked + label {
  background-color: var(--bg-alt-acc);
}

.mods > label:nth-child(2) {
  font-weight: bold;
}

.mods > input:nth-child(1):checked ~ .module-panels > textarea:nth-child(1),
.mods > input:nth-child(3):checked ~ .module-panels > textarea:nth-child(2),
.mods > input:nth-child(5):checked ~ .module-panels > textarea:nth-child(3),
.mods > input:nth-child(7):checked ~ .module-panels > textarea:nth-child(4),
.mods > input:nth-child(9):checked ~ .module-panels > textarea:nth-child(5),
#popup-content > input:nth-child(1):checked ~ .output-panels > textarea:nth-child(1),
#popup-content > input:nth-child(3):checked ~ .output-panels > textarea:nth-child(1),
#popup-content > input:nth-child(5):checked ~ .output-panels > textarea:nth-child(1),
#popup-content > input:nth-child(7):checked ~ .output-panels > textarea:nth-child(1),
#popup-content > input:nth-child(9):checked ~ .output-panels > textarea:nth-child(1) {
  display: block;
}

.module-panels {
  height: calc(100% - 2em);
}

fieldset.interpret {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.75em;
}

.interpret > .args {
  display: flex;
  flex-direction: row;
}

.interpret > .args > .arg {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.interpret input[type="text"] {
  background-color: var(--bg-alt-acc);
  color: var(--fg);
  font-size: medium;
}

.interpret label {
  font-size: medium;
}

.interpret input[type="text"]::placeholder {
  color: var(--bg-acc);
  opacity: 1;
}

form button,
#popup-close {
  display: block;
  padding: 0.3em 1.2em;
  margin: 0.75em 0.3em;
  border: 0;
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  color: white;
  background-color: rgb(86, 129, 209);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

form button:hover {
  box-shadow: 0px 0px 10px var(--shadow);
  cursor: pointer;
}

.pager {
  margin-top: 2em;
}

.pager::after {
  content: "";
  display: block;
  clear: both;
}

.pager a {
  display: inline-block;
  font-size: large;
}

.pager a.prev {
  float: left;
}

.pager a.next {
  float: right;
}

#popup {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: var(--bg-acc);
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80vw;
  height: 80vh;
  margin: auto;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}

#popup-shown:checked ~ #popup {
  display: flex;
}

#popup-title {
  background-color: darkred;
  color: white;
  font-weight: bold;
  font-size: large;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  margin: 0;
  padding: .5em;
  flex: 0;
}

#popup-title[data-kind="success"] {
  background-color: darkgreen;
}

#popup-title span:before {
  content: "Failure";
}

#popup-title[data-kind="success"] span:before {
  content: "Success";
}

#popup-content {
  flex: 1;
  padding: .75em;
}

#popup .output-panels {
  height: calc(100% - 2em);
}

#popup .output-panels > textarea {
  display: none;
  width: 100%;
  height: 100%;
}

#popup > label {
  flex: 0;
}